<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>{{ posts.title }}</h1>
</head>
<body>
    <p>
        {{ posts.content }}
    </p>
    <p>
        By {{user.first_name}} {{user.last_namee}}
        Create on {{posts.created_at}}
    </p>
    <form>
    <p><button formaction = "/users/{{user.id}}/delete">Delete Post</button>  <button formaction = "/users/{{user.id}}/edit">Edit Post</button> </p>
    </form>
    </form>
</body>
</html>